---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="min-h-full" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient min-h-full">
		<header
			class="flex place-content-center fixed start-0 inset-x-0 z-50 backdrop-blur border-b border-white/10"
		>
			<div class="grid w-full max-w-7xl py-3">
				<a
					class="w-60"
					href="/"
				>
					<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 661 113"><path fill="#fff" fill-rule="nonzero" d="M11.125 36.225H0V24.912h34.592v11.313H23.371v51.704H11.125V36.225ZM54.225 24.912v25.25h12.804v-25.25h12.25v63.017h-12.25V61.567H54.225v26.362h-12.25V24.912h12.25ZM117.708 60.254h-14.404v17.017h16.271v10.658H91.058V24.912h27.396v10.663h-15.15v14.487h14.404v10.192ZM168.15 49.317h-20.088v23.741h22.696v14.871h-39.783V0h38.221v14.871h-21.134v20.221h20.088v14.225ZM195.546 24.137l3.916 11.346c1.305 3.788 2.351 7.571 3.13 10.7h.262c.913-3.262 1.954-7.175 3-10.7l3.783-11.346h17.217l-14.479 31.3 14.746 32.492h-18.654l-4.304-12.004a138.287 138.287 0 0 1-3.134-9.779h-.262c-.779 3.258-1.959 6.521-2.871 9.779l-3.913 12.004h-17.091l14.221-31.7-14.088-32.092h18.521ZM252.033 64.579c0 2.217.259 4.171.917 5.479 1.304 3.909 3.517 4.95 5.475 4.95 6.004 0 8.092-8.862 8.092-18.912 0-12.129-2.871-18.65-7.959-18.65-2.612 0-5.087 2.475-5.741 5.475-.654 1.3-.784 3-.784 4.562v17.096Zm-17.091-20.221c0-7.7-.259-14.225-.517-20.221h14.871l.912 7.305h.259c2.612-5.213 7.437-8.35 13.308-8.35 14.092 0 19.829 15.262 19.829 32.875 0 22.704-10.042 33.008-20.741 33.008-5.217 0-8.742-3.263-10.571-6.267h-.259v30.267h-17.091V44.358ZM324.183 50.096c0-8.221-2.091-14.613-7.179-14.613-5.608 0-7.825 8.221-7.958 14.613h15.137ZM308.921 62.1c.258 9.908 6 13.567 13.567 13.567 4.825 0 9.129-1.046 12.133-2.088l2.342 12.258c-4.434 1.7-11.088 2.875-17.609 2.875-17.35 0-26.875-11.479-26.875-31.445 0-21.396 11.088-34.175 25.571-34.175 13.7 0 21.658 10.825 21.658 30.129 0 4.575-.133 7.05-.525 8.879h-30.262ZM350.529 43.312c0-6.391-.262-13.308-.521-19.175h14.871l.917 9.259h.387c2.871-6.779 7.959-10.304 12.654-10.304 1.701 0 2.613 0 3.655.262v16.954c-1.042-.258-2.217-.258-3.655-.258-3.65 0-8.479 2.483-10.437 9.133-.388 1.434-.654 3.65-.654 6.392v32.354h-17.217V43.312ZM390.313 24.137h17.092v63.792h-17.092zM420.708 43.312c0-7.045-.391-13.179-.52-19.175h14.87l.788 7.434h.258c3.258-4.825 8.613-8.479 15.263-8.479 7.171 0 11.746 3.262 13.958 8.612h.267c1.562-2.483 3.904-4.829 6.387-6.396 2.613-1.437 5.738-2.216 9-2.216 11.359 0 16.442 9 16.442 24.391v40.446h-16.959V50.354c0-7.3-.779-13.175-6.004-13.175-2.995 0-5.212 2.092-6.391 5.875-.259.913-.525 2.742-.525 4.429v40.446h-16.959v-40.05c0-4.567-.521-10.7-5.866-10.7-2.609 0-5.221 1.954-6.396 5.742-.396 1.175-.65 3-.65 4.829v40.179h-16.963V43.312ZM540.204 50.096c0-8.221-2.091-14.613-7.179-14.613-5.604 0-7.821 8.221-7.958 14.613h15.137ZM524.942 62.1c.262 9.908 6.004 13.567 13.575 13.567 4.821 0 9.125-1.046 12.125-2.088l2.341 12.258c-4.433 1.7-11.083 2.875-17.604 2.875-17.35 0-26.871-11.479-26.871-31.445 0-21.396 11.084-34.175 25.563-34.175 13.7 0 21.658 10.825 21.658 30.129 0 4.575-.129 7.05-.521 8.879h-30.266ZM566.683 43.312c0-7.045-.387-13.179-.516-19.175h14.741l.784 7.305h.254c3.4-5.088 8.875-8.35 15.529-8.35 12.133 0 16.958 9.658 16.958 23.875v40.962H597.35V48.008c0-5.35-1.313-10.562-6.263-10.562-2.874 0-5.225 1.954-6.391 5.737-.525 1.3-.921 3.388-.921 5.871v38.875h-17.092V43.312ZM647.833 7.442v16.695h12.525v12.13h-12.525v29.091c0 7.438 3.13 9.263 6.521 9.263 1.7 0 3.004-.134 4.442-.388l.125 13.304c-2.35.655-5.871 1.175-10.438 1.175-4.958 0-9.254-1.175-12.266-4.041-3.525-3.396-5.48-8.225-5.48-18.267V36.267h-7.562v-12.13h7.562V12.783l17.096-5.341Z"/></svg>
				</a>
			</div>
		</header>
		<slot />
	</body>
</html>
